.all-header-elements {
  background-color: rgb(71, 69, 84);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title-div {
  width: 70%;
}
.title {
  margin: 0.15em;
  color: #c2bcd1;
  text-shadow: 0.05em 0.05em black;
  font-size: 2.5em;
  font-weight: 700;
}
.title:hover {
  color: #fce205;
}

.fa-bars {
  position: absolute;
  top: 0.22em;
  right: 2%;
  margin: 0.5em;
}
.nav-menu-mobile {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 2.7em;
}
.nav-list-container-mobile {
  position: absolute;
  justify-content: right;
  right: 0;
  height: 12em;
  background-color: rgb(71, 69, 84);
  z-index: 1;
}
.nav-menu-desktop {
  display: none;
}
.nav-list {
  display: flex;
  color: #c2bcd1;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2em;
  margin: 1em;
}
.nav-list:hover {
  color: #fce205;
}
.nav-link-mobile {
  text-decoration: none;
  color: antiquewhite;
}
.nav-link-mobile:hover {
  color: #fce205;
}

/* adjust focus from default browser options */

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3em;
  }
  .nav-list-container-desktop {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    top: 3%;
    padding: 0.05em;
    margin: 0;
  }
  .title-div {
    width: 30%;
  }
  .fa-bars {
    display: none;
  }
  .nav-menu-desktop {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 10%;
  }
  .nav-list-desktop {
    justify-content: space-between;
    padding: 0.9em;
    font-size: 1.2em;
  }
  .nav-menu-mobile {
    display: none;
  }
  .nav-link-desktop {
    text-decoration: none;
    color: antiquewhite;
  }
  .nav-list-desktop:hover {
    color: #fce205;
  }
  .nav-link-desktop:hover {
    color: #fce205;
  }
}
