<footer class="footer-contents">
  <div class="contact-contents">
    <a class="contact-link" href="mailto:ezsto92@gmail.com"
      ><i class="fa fa-envelope-o" aria-hidden="true"
        ><p class="contact-type">Email:</p>
      </i></a
    >
    <a class="contact-link" href="https://github.com/elzast"
      ><i class="fa fa-github" aria-hidden="true"
        ><p class="contact-type">GitHub</p>
      </i></a
    >
    <a class="contact-link" href="https://www.linkedin.com/in/elijahzstone/"
      ><i class="fa fa-linkedin-square" aria-hidden="true"
        ><p class="contact-type">LinkedIn</p>
      </i></a
    >
  </div>
</footer>
