<div class="about-parent-div">
  <h2 class="about-heading">About the Developer</h2>
  <div class="about-img"></div>
  <div class="about-text">
    <p>
      Hello and welcome! My name is Elijah and I'm a Software Developer with a
      strong interest in design and accessibility.
    </p>
    <p>
      I "unofficially" began my journey into Software Development as a hobbyist
      designer. Little did I know tweaking blog pages and profiles would lead me
      into the exciting and highly dynamic world of tech.
    </p>
    <p>
      Once I had learned there was a huge, unfulfilled need for making websites
      and applications more accessible I knew I needed to be a part of the
      change I wanted to see in tech and enrolled in a coding bootcamp to start
      implementing the changes I wanted to see.
    </p>
    <p>
      This site is a collection of my skills and projects throughout time.
      Continue to follow up for updates and feel free to contact me to connect,
      collaborate or for work opportunities.
    </p>
  </div>
</div>
