.project-parent-div {
  top: 13%;
  height: 33em;
  width: 33em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.project-div {
  background-color: rgba(163, 164, 198, 0.2);
  height: 24em;
  width: 24em;
  margin: 0.6em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0.1em solid #fce205;
}
::-webkit-scrollbar {
  width: 0.8em;
  overflow-y: scroll;
  background: grey;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: slateblue;
  border-radius: 10px;
}
.project-title {
  margin: 0.15em;
  color: #c2bcd1;
  text-shadow: 0.05em 0.05em black;
  font-size: 1.8em;
  font-weight: 700;
}

.title-link {
  text-decoration: none;
  color: #c2bcd1;
}
.title-link:hover {
  color: #fce205;
}
.project-image {
  display: none;
}
.project-text {
  margin: 0.2em;
  padding: 0.5em;
}
.code-link {
  text-decoration: none;
  color: #c2bcd1;
  font-weight: 600;
  text-shadow: 0.05em 0.05em black;
}
.code-link:hover {
  color: #fce205;
}
.about-accent {
  color: lightgreen;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .project-parent-div {
    flex-direction: row;
    display: block;
    width: 100%;
  }
  .project-div {
    width: 26em;
    height: 20em;
    display: inline-flex;
    padding: 0.5em;
    margin: 0.5em;
    position: relative;
    left: 3%;
  }
  .project-image {
    display: block;
  }
}
