<p>projects works!</p>
<main>
  <div class="project-parent-div">
    <div class="project-div">
      <h2 class="project-title">
        <a class="title-link" href="https://bear-necessities.surge.sh/home"
          >Bear Necessities</a
        >
      </h2>

      <p class="project-text">
        <span class="about-accent">Project Description:</span> If you have ever
        gone camping you know it can be difficult to find a good campsite and
        pack appropriately for that trip. This app helps relieve some of the
        headache while planning to go camping. This is a group angular project
        that uses a RESTful API.
      </p>
      <p class="project-text">
        <span class="about-accent">Date Completed:</span> March-25-2021
      </p>
      <a class="code-link" href="https://github.com/elzast/camping-project"
        >Link to Project Code</a
      >
    </div>
    <div class="project-div">
      <h2 class="project-title">
        <a class="title-link" href="https://findmovies.surge.sh/home"
          >FindMovies</a
        >
      </h2>

      <p class="project-text">
        <span class="about-accent">Project Description:</span> This is a group
        angular project that was initiated after gaining experience with using
        APIs. The application allows for you to browse movies, read a brief
        description, and favorite movies.
      </p>
      <p class="project-text">
        <span class="about-accent">Date Completed:</span> Feb-24-2021
      </p>
      <a class="code-link" href="https://github.com/elzast/g6-Angular-Project"
        >Link to Project Code</a
      >
    </div>
    <div class="project-div">
      <h2 class="project-title">
        <a class="title-link" href="http://geekwallet.surge.sh/">Geek Wallet</a>
      </h2>

      <p class="project-text">
        <span class="about-accent">Project Description:</span>This is a
        "smokin'" group project that built a budget app with a the Mask theme
        that was built using primarily JavaScript. You can initiate a weekly
        budget then add expenses. Your expenses are then subtracted from the
        weekly budget. Don't run out of money!
      </p>
      <p class="project-text">
        <span class="about-accent">Date Completed:</span> Feb-08-2021
      </p>
      <a class="code-link" href="https://github.com/elzast/Group-budget-project"
        >Link to Project Code</a
      >
    </div>
  </div>
</main>
