.skills-parent-div {
  background-color: rgba(51, 57, 86, 0.5);
  width: 95%;
  height: 5em;
  margin: 0;
  padding: 0.3em;
  position: absolute;
  top: 4.8em;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  border: 1px double #fce205;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0.8em;
  overflow-y: scroll;
  background: grey;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: slateblue;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .skills-parent-div {
    height: 8.5em;
    top: 5.3em;
    width: 65%;
  }
}
